<%- include('header')%>
<div id="login-box">
  <div class="left">
    <h1>Login</h1>
    <label class="error"></label>
    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => {
          %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>

    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg%></li>
      <%}%>
        </ul>

        <ul>
          <!-- passport will store any messages in this messages object here in the session -->
          <% if(messages.error) { %>
      <li>
        <%=messages.error%>
      </li>
      <%}%>
        </ul>

        <form action="/users/login" method="POST" id="login-form">
          <div class="input-container">
            <input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              required
            />
            <label for="email">Email</label>
          </div>

          <div class="input-container">
            <input
              type="password"
              name="password"
              id="password"
              autocomplete="off"
              aria-describedby="password-constraints"
              required
            />
            <label for="password" required>Password</label>
          </div>
          <div>
            <button
              id="toggle-password"
              type="button"
              aria-label="Show password as plain text. Warning: this will display your password on the screen."
            >
            <i class="fa fa-eye"></i>
            </button>
          </div>

          <div>
            <input type="submit" value="Login" id="signin" />
          </div>
          <div>
            <a href="/users/register">Register</a>
          </div>
        </form>
      </div>
      <div class="right"></div>
    </div>
    <script src="/javascripts/login.js"></script>
    <%- include('footer')%>