<%- include('../header.ejs')%>
<div id="applied-jobs-wrapper">
    <form class="form-horizontal" action="/appliedJobs/<%=getJob.api_id%>" method="POST">
        <input name="_method" type="hidden" value="PUT">
        <div class="form-group">
            <label class="control-label col-sm-2" for="company-name">Company Name:</label>
            <input type="text" class="form-control" id="company-name" value="<%=getJob.company%>" readonly>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="role">Role:</label>
            <input type="text" class="form-control" id="role" value="<%=getJob.title%>" readonly>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="contact-person">Contact Person:</label>
            <input type="text" class="form-control" id="contact-person" value="needs to update here">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="application-date">Application Date:</label>
            <input type="date" class="form-control col-sm-2" id="application-date">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="follow-date">Follow-up Date:</label>
            <input type="date" class="form-control" id="follow-date">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="interview-date">Interview Date:</label>
            <input type="date" class="form-control" id="interview-date">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="remark">Remarks:</label>
            <textarea type="date" class="form-control" id="remark"></textarea>
        </div>
        <button type="submit" class="btn btn-warning">Edit</button>
    </form>
</div>
<%- include('../footer.ejs')%>