<%- include('../header.ejs')%>
<div id="applied-jobs-wrapper">
    <form class="form" action="/appliedJobs/<%=getJob.api_id%>" method="POST">
        <input name="_method" type="hidden" value="PUT" />

        <!-- Glen: added the following hidden form to enable the api_id to be passed to checkDates.js. So when the validation passes, it takes the api_id and updates the database. -->
        <div class="form-group">
            <!-- <label class="control-label col-sm-2" for="api-name"
                >API name:</label
            > -->
            <input type="hidden" class="form-control" name="api-id" id="api-id" value="<%=getJob.api_id%>" readonly />
        </div>

        <div class="form-group">
            <label class="control-label" for="company-name">Company Name:</label>
            <input type="text" class="form-control" name="companyName" id="company-name" value="<%=getJob.company%>"
                readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="role">Role:</label>
            <input type="text" class="form-control" id="role" value="<%=getJob.title%>" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="contact-person">Contact Person:</label>
            <input name="contact_person" type="text" class="form-control" id="contact-person"
                value="<%=getJob.contactperson%>" />
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label" for="application-date">Application Date:</label>
                <input name="application_date" type="date" class="form-control col-sm-2 pr-3" id="application-date"
                    value="<%=getJob.dateofapplication%>" />
            </div>
            <div class="col-sm-4 mr-3">
                <label class="control-label" for="follow-date">Follow-up Date:</label>
                <input name="follow_up_date" type="date" class="form-control" id="follow-date"
                    value="<%=getJob.followupdate%>" />
            </div>
            <div class="col-sm-4">
                <label class="control-label" for="interview-date">Interview Date:</label>
                <input name="interview_date" type="date" class="form-control" id="interview-date"
                    value="<%=getJob.interviewdate%>" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="remark">Remarks:</label>
            <textarea name="remarks" type="date" class="form-control" id="remark">
                <%=getJob.remarks%>
            </textarea>
        </div>

        <!-- <button type="submit" class="btn btn-warning">
            Edit
        </button> -->

        <!-- <a class="btn btn-success" href="/appliedJobs/<%= getJob.api_id %>" />Save This Job</a> -->
        <button type="submit" id="gj-submit-button">SAVE RECORD</button>

        <button class="btn-info" type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
    </form>
</div>

<script src="/javascripts/checkDates.js" type="module"></script>
<%- include('../footer.ejs')%>